<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img src="assets/img/funcy.png" alt="">
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#specs" class="nav__link">Especificaciones</a>
                </li>
                <li class="nav__item">
                    <a href="#case" class="nav__link">Conformidad</a>
                </li>
                <li class="nav__item">
                    <a href="#products" class="nav__link">Products</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-function-line"></i>
        </div>
    </nav>
</header>

<main class="main">
    <!--=============== HOME ===============-->
    <section class="home section" id="home">
        <div class="home__container container grid">
            <div>
                <img src="assets/img/funcy.png" alt="" class="home__img">
            </div>
            
            <div class="home__data">
                <div class="home__header">
                    <h1 class="home__title">Funcy</h1>
                    <h2 class="home__subtitle">Funcy Beta</h2>
                </div>

                <div class="home__footer">
                    <h3 class="home__title-description">Alineados a ti</h3>
                    <p class="home__description">El estres alboral afecta a un alto porcentaje de trabajadores a nivel mundial, causando, una reduccion en la produccion laboral y bienestar familiar.
                    </p>
                    <a href="#" class="button button--flex">
                        <span class="button--flex">
                            <i class="ri-shopping-bag-line button__icon"></i> Agregamos una solucion
                        </span>
                        <span class="home__price">free</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    

    <section class="sponsor section">
        <div class="sponsor__container container grid">
            <img src="assets/img/sponsor4.png" alt="" class="sponsor__img">
            <img src="assets/img/sponsor2.png" alt="" class="sponsor__img">
            <img src="assets/img/sponsor3.png" alt="" class="sponsor__img">
            <img src="assets/img/sponsor4.png" alt="" class="sponsor__img">
        </div>
    </section>


    <section class="specs section grid" id="specs">
        <h2 class="section__title section__title-gradient">Especificaciones</h2>

        <div class="specs__container container grid">
            <div class="specs__content grid">
                <div class="specs__data">
                    <h3 class="specs__title">Registro</h3>
                    <span class="specs__subtitle">Personalisado</span>
                </div>

                <div class="specs__data">
                    <h3 class="specs__title">Seguridad</h3>
                    <span class="specs__subtitle">Seguridad efectiva</span>
                </div>

                <div class="specs__data">
                    <h3 class="specs__title">Respuesta</h3>
                    <span class="specs__subtitle">Respuesta inteligente</span>
                </div>

                <div class="specs__data">
                    <h3 class="specs__title">Archivos</h3>
                    <span class="specs__subtitle">Podemos enviar archivos <br> de cualquier tipo</span>
                </div>
            </div>
            
            <div>
                <img src="assets/img/especificaciones.png" alt="" class="specs__img">
            </div>
        </div>
    </section>

    <section class="case section grid" id="case">
        <h2 class="section__title section__title-gradient">Conformidad</h2>

        <div class="case__container container grid">
            <div>
                <img src="assets/img/funcy.png" alt="" class="case__img">
            </div>

            <div class="case__data">
                <p class="case__description">¡Con Funcy, tendrás a tu disposición un asistente emocional dedicado! Cuéntale sobre tu día y recibirás un programa personalizado junto con valiosos consejos para afrontar tus desafíos diarios.
                </p>
                <a href="https://fnldigital.com/" class="button button--flex">
                    <i class="ri-information-line button__icon"></i> Mas info
                </a>
            </div>
        </div>
    </section>

    <section class="discount section">
        <div class="discount__container container grid">
            <div class="discount__animate">
                <h2 class="discount__title">Tan único como tú
                    </h2>
                <p class="discount__description">Contamos con tecnología que se adapta a tus necesidades
                    Utilizando Inteligencia Artificial y algoritmos, desarrollamos un programa que se ajustará a día a día.</p>
                <a href="#" class="button button--flex">
                    <i class="ri-shopping-bag-line button__icon"></i> Tu Funcy
                </a>
            </div>

            <img src="assets/img/somos.jpg" alt="" class="discount__img">
        </div>
    </section>
</main>

<footer class="footer section">
    <div class="footer__container container grid">
        <a href="#" class="footer__logo">
            <img src="assets/img/logo.png" alt="">
        </a>

        <div class="footer__content">
            <h3 class="footer__title">Products</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Headphones</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Earphones</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Earbuds</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Accesories</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Support</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Product help</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Register</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Updates</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Provides</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <form action="" class="footer__form">
                <input type="email" placeholder="Email" class="footer__input">
                <button class="button button--flex">
                    <i class="ri-send-plane-line button__icon"></i> Subscribe
                </button>
            </form>

            <div class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-line"></i>
                </a>
            </div>
        </div>
    </div>

    <p class="footer__copy">
        <a href="#" target="_blank" class="footer__copy-link">&#169; Realizado por grupo funcional neuro laboral </a>
    </p>
</footer>

<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-s-line scrollup__icon"></i>
</a>